@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap');


    *{
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    body{
        background-image: url(./images/background.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: left;
        margin-left: 20px;
        width: 100vw;
    }
    
    #first-header{
       
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        padding-bottom: 65px;
        color: white;
    }
    
    #circle-bg{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(./images/circulos.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 200px;
    }
    
    #circle-bg p {
        align-self: flex-start;
        padding-left: 50px;
        font-size: .8em;
        font-weight: 600 ;
    }
    
    #circle-bg h1{
        padding: 0 20px;
        font-size: 1.5em;
        text-align: center;
        font-weight: 900;
    }
    
    #circle-bg img{
        height: 13px;
        position: absolute;
    }
    
    
    #app-phone{
        margin-left: 15px;
        height:140px;
        width: auto;
    }
    
    #first-info{
        position: absolute;
        top: 215px;
        left: 25px;
        padding-top: 20px;
        padding-left: 8px;
        padding-bottom: 10px;
        color: #f0f8f4;
        font-size: .6em;
        width: 85%;
        height: 30px;
        border: 1.5px;
        border-style: solid;
        border-color: #8ee197;
        font-weight: 700;
    }
    
    #first-info span{
        font-weight: 900;
    }
    
    
    #circles-section{
        align-self: flex-start;
        margin-left: 20px;        
        margin-bottom: 40px;
        display: flex;
        padding-left: 10px;
       
        
    }
    
    .circle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        background-color: #148f50;
        margin-right: 10px;
        width: 65px;
        height: 65px;
        border-radius:50%;
    
        
    }
    
    .circle h2{
        color: #8ee197;
        font-size: 1.3em;
        font-weight: 900;
        
    }
    
    .circle p{
        text-align: center;
        color: #f2f2f2;
        font-size: .5em;
        font-weight: 800;
    }

    main{
        padding-left: 45px;
        width: 80%;
        
    }


    #hr-form{
        margin-left: 20px;
        width: 90%;
        padding: 10px 0 0 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #data{
        
        color:  black;
        font-size: .55em;
        font-weight: 400;
        align-self: flex-start;
        margin-bottom: 10px;
    }

    
    .form-number{
        margin-bottom: 15px;
    }
    
    
    #human-resources{
        display: flex;
        position: absolute;
        left: 25px;
        background-image: url(./images/background-form.svg);
        background-repeat: no-repeat;
        height: 500px;
        width: 285px;  
    }
    
    #employee{
        border: 3px solid blueviolet;
        position: absolute;
        padding-top: 120px;
        left: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: url(./images/background-employee.svg);
        background-repeat: no-repeat;
        height: 500px;
        width: 280px; 
        z-index: -1;
    }
    
    #btn-hr{
        display: flex;
        width: 30px;
        height: 70px;
        left: 105px;
        margin-left: 5px;
        padding-top: 10px;

        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        color: #000000;
        background-color: transparent;
        border-style: none;
    }
    
    
    #btn-hr p{
        font-weight: 600;
        font-size: .9em;
        margin-right: 10px;
    }
    
    #btn-hr h2{
        font-weight: 900;
        font-size: 1.3em;
    }
    
    #btn-employee{
        display: flex;
        width: 200px;
        height: 76px;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-top: 10px;
        margin-left: 135px;
        z-index: 2;
        color: #f2f2f2;
        background-color: transparent;
        border-style: none;
    }
    
    #btn-employee p{
        font-weight: 600;
        font-size: .9em;
        margin-right: 10px;
    }
    
    #btn-employee h2{
        font-weight: 900;
        font-size: 1.3em;
    }
    
    form input{
        
        width: 90%;
        padding: 10px;
        border-style: none;
    }
     input{
         height: 10px;
         align-self: flex-start;
         
     }
    
    
    .form-rh::placeholder{
        color: #5abd68;
        font-size: .5em;
        font-weight: 400;
        margin-bottom: 9px;
    }
    
    .form-number::placeholder{
        color: #5abd68;
        font-size: .5em;
        font-weight: 400;
    }
    
    
    /* .form-number::after,
    .form-number::before{
        position: absolute;
        background: #f2f2f2;
        pointer-events: none;
    }
    
    .form-number::after{
        color: #5abd68;
        content: "\25B2";
        
    } */
    
    #employee h2{
        padding-top: 50px;
        color: #f2f2f2;
        font-weight: 900;
        font-size: 1.3em;
        text-decoration: #8ee197;
    }
    
    #employee p{
        padding-top: 45px;
        text-align: center;
        align-items: center;
        color: #f2f2f2;
        font-size: .8em;
        font-weight: 600;
    }
    
    #green-border{
        margin-top: 3px;
        width: 26%;
        height: 6px;
        background-color: #8ee197;   
    }
    
    #icon{
        margin-top: 30px;
        flex-direction: row;
    
    }
    
    
    #icon img{
        height: 50px;
        width: 50px;
        padding: 0 20px;
    }
    
    
    #want-minu{
        margin-top: 12px;
        font-size: .8em;
        color: #f0f8f4;
        background-color: #5abd68;
        width: 93%;
        height: 20px;
        justify-content: center;
        align-self: flex-start;
        border-style: none;
        border-radius: 5px;
        font-weight: 600;
    }
    
    #want-minu span{
        font-weight: 800;
    }

        
    #text-one{
        margin-top: 0;
        align-self: flex-start;
        font-size: .5em;
    }
    
    #text-two{
        padding-top: 8px;
        align-self: start;
        font-size: .5em;
    }
    
    #text-two a{
        color: #5abd68;
        font-weight: 900;
    }
    
    
    #final-info{
        justify-content: center;
        align-items: center;
        padding-top: 500px;
        margin-left: 20px;
        
    
    }
    
    #final-info h2{
        margin: 10px 0;
        color: #f0f8f4;
        border: 1.5px;
        border-style: solid;
        border-color: #8ee197;
        padding-top: 10px;
        padding-left: 20px;
        height: 20px;
        width: 95%;
        font-size: .7em;
        font-weight: 900;
    }
    
    #final-info h3{
        color: #f2f2f2;
        font-weight: 600;
        font-size: .7em;
        padding-left: 10px;
    }

    #fa-footer{
        margin-left: 80px;
        margin-top: 50px;
    }
    

    #fa-footer button{
        
        background-color: #273443;
        color: #f2f2f2;
        font-weight: 700;
        font-size: 1em;
        width: 200px;
        height: 40px;
        border-radius: 10px;
        border-style: none;
        
    }
    
    #contact{
       display: flex;
       width: 85%;
       justify-content: space-between;
    }
    
    #contact img{
        padding-top: 10px;
        
    
    }
    
    #fa-footer p{
        color: #f2f2f2;
        font-size: .7em;
        align-self: center;
    }
    
    #fa-footer img{
        width: 100px;
        height: 22px;
    }

    #copyright{
        margin-top: 60px;
        
       
    }

    /* #rights{
        margin-left: 20px;
    } */
    
    #privacy{
        /* margin-left: 30px; */
        margin-top: 40px;
        margin-bottom: 50px;
        width: 70%;
        display: flex;
        justify-content: space-evenly;
    }
    
    #t-c{
        font-weight: 800;
        color: #f2f2f2;    
    }
    
    .privacy-line{
        background-color: #f2f2f2;
        padding-left: 24px;
        margin-top: 5px;
        width: 88%;
        height: 3.3px;   
    }




@media (min-width: 1500px) and (max-width: 2063px){

    #app-phone{
    position: absolute;
    height: 590px;
    padding-right: 720px;
    margin-top: 120px;

}

#first-header{
    justify-content: center;
    align-items: center; 

}

#circle-bg{
    margin-top: 100px;
}

#first-info{
    position: absolute;
    top: 610px;
    left: 600px;
    width: 40%;
    height: 80px;
  
}

#circles-section{
    margin-left: 515px;
}

#btn-hr{
    margin-left: 550px;
}

#btn-employee{
    margin-left: 850px;
}

#human-resources{
   margin-left: 500px;
}

#employee{
    margin-left: 500px;
}



#final-info h2{
    margin-left: 150px;
    width: 67%;
    height: 70px;
    font-size: 2.5em;
}

#final-info h3{
    margin-left: 150px;
    font-size: 2.2em;
}

#fa-footer button{
    width: 40%;
    height: 10px;
    font-size: 1em;
    margin-right: 180px;
}

#contact{
    justify-content:center;
   margin-left: 100px;

}

#contact img{
    margin-right: 350px;
}

#contact button{
    margin-left: 100px;
}

#copyright{
    position: absolute;
}

#rights {
    top: 2270px;
    position: absolute;    
}

#privacy{
    width: 30%;
    justify-content: center;
    padding-top: 13px;
    margin-left: 705px;
}

#privacy p{
    padding-right: 20px;
}

.privacy-line{
    width: 75%;
   margin-left: 10px;
}

















/* #final-info{
    margin-left: 280px;
    width: 70%;
    
} */